@import url("reset.css");
@import url("font.css");

/*
    select => option;
    search - реализация: при клики на иконку анимированно появляется поле для ввода
    burger-menu-list: стили и submenu 
 */

html{
    scroll-behavior: smooth;
    scroll-padding-top: 10vh;
}
body{
    font-family: "Muller", "Arial", sans-serif;
}
.wrapper{
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
} 
.burger-icon{
    display: none;
    gap: 15px;
    max-width: 111px;
    background: #fff;
    font-size: 15px;
    font-weight: normal;
    padding: 9px 13px;
    
}
.burger-icon span:first-child,
.burger-icon span:first-child::before,
.burger-icon span:first-child::after{
    display: block;
    z-index: 111;
    border-radius: 100px;
    width: 22px;
    height: 2px;
    background: #028ECE;
    transition: all .3s;
}
.burger-icon span:first-child{
    position: relative;
    margin-top: 5px;
}
.burger-icon span:first-child::before,
.burger-icon span:first-child::after{
    content: "";
    position: absolute;
}
.burger-icon span:first-child::before{
    top: -4px;
}
.burger-icon span:first-child::after{
    bottom: -4px;
}
.body--opened-menu .burger-icon span::before{
    top: 0px;
    transform: rotate(45deg);
}
.body--opened-menu .burger-icon span::after{
    bottom: 0px;
    transform: rotate(-45deg);
}
.body--opened-menu .burger-icon span{
    background: transparent;
}
/* -----header----- */
.header{
}
.header__top {
    background: #F1F3F7;
}
.header__top-inner{
    display: flex;
    justify-content: space-between;
}
.header__top-select {
    max-width: 100px;
    font-family: "Muller", "Arial", sans-serif;
    font-size: 15px;
    line-height: 124%;
    font-weight: normal;
    color: #1B1D32;
    background: transparent;
}
/* select option */
.header__top-buttons {
    display: flex;
    align-items: center;
    gap: 34px;
}
.form-search {
}
.search-input{
    display: none;
}
.serch-btn {
    background: transparent;
}
.header__top-btn {
    display: flex;
    align-items: end;
    gap: 3px;
    padding: 13px 30px;
    background: #33C1CC;
    color: #fff;
    font-size: 15px;
    font-weight: normal;
    transition: all .3s;
}
.header__top-btn:hover{
    background: #0C669C;
}
/* --- */
.header__hero {  
    box-shadow: 0px 2px 10px 0px rgba(78, 127, 222, 0.2);
}
.header__hero-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 22px 0 28px;
}
.logo {
    max-width: 220px;
}
.logo img{
    width: 100%;
}
.header__record-btn {
    background: linear-gradient(90deg, #0C669C, #3BBAC2 );
    border-radius: 3px;
    padding: 13px 20px;
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    transition: all .3s;
}
.header__record-btn:hover{
    background: #0C669C;
    box-shadow: 0px 4px 10px 0px rgba(16, 109, 159, 0.34);
}
.header__chart {
    font-size: 15px;
    font-weight: normal;
    line-height: 124%;
    color: #2A2651;
}
.header__contacts {
    display: flex;
    align-items: center;
    gap: 20px;
}
.header__contacts-number {
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: end;
    font-size: 22px;
    font-weight: 500;
}
.header__contacts-number span{
    color: #028ECE;
    
    border-bottom: 1px dashed #028ECE;
    font-size: 14px;
    line-height: 100%;
    transition: all .3s;
}
.header__contacts-number span:hover{
    color: #33C1CC;
}
.header__contacts-social {
    padding: 14px;
    border-radius: 4px;
    box-shadow: 0px 6px 10px 0px rgba(201, 210, 234, 0.4);
    transition: all .3s;
}
.header__contacts-social:hover{
    box-shadow: 0px 6px 10px 0px rgba(2, 142, 206, 0.32);
}
/* --- */
.header__bottom {
}
.nav {
    padding: 17px 0 20px;
}
.nav__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav__item {
}
.nav__link {
    font-size: 17px;
    font-weight: 500;
    color: #1B1D32;
    display: flex;
    align-items: center;
    gap: 6px;
    position: relative;
    transition: all .3s;
}
.nav__link:hover{
    color: #0C669C;
}
.submenu__list {
    display: none;
    box-shadow: 0px 2px 20px 0px rgba(78, 127, 222, 0.2);
    border-radius: 6px;
    background: #fff;
    padding: 26px 60px 20px;
    position: absolute;
    left: 24%;
    z-index: 1;
    
    grid-template-columns: repeat(2, 1fr) ;
    grid-template-rows: repeat(9, 30px);
    gap: 0px 40px;
    transition: all .3s;
}
.submenu__item {
}
.submenu__link {
    border-bottom: 1px dashed #7E83AE;
    color: #1B1D32;
    font-size: 14px;
    font-weight: normal;
    line-height: 134%;
    transition: all .3s;
}
.submenu__link:hover {
    border-bottom: 1px dashed #0C669C;
    color: #0C669C;
}
.nav__item:hover .submenu__list {
    display: grid;
}




/* -----slider----- */
.slider{
    background: linear-gradient(90deg, #0C669C, #3BBAC2 );
    margin-bottom: 100px;
}
.slider__inner {
}
.slides {
}
.slide-1 {
    background: url(../img/slider/slide-1.png) 65% 100% /50%  no-repeat;   
}
.slide-2{
    background: url(../img/slider/slide-2.png) 80% 100% /100%  no-repeat;   
}
.slide-3{
    background: url(../img/slider/slide-3.png) 65% 100% /50%  no-repeat;   
}
.slide {
    padding: 117px 0 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.slide-info {
    max-width: 520px; 
    color: #fff;
}
.slide-title {
    font-size: 56px;
    line-height: 66px;
    margin-bottom: 20px;
}
.slide-text {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 60px;
}
.slide-btn {
    background: #39B6C0;
    border-radius: 3px;
    max-width: 190px;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-weight: 500;
    transition: all .3s;
}
.slide-btn svg path{
    transition: all .3s;
}
.slide-btn:hover,
.slide-btn:hover svg path{
    color: #39B6C0;
    fill: #39B6C0;
    background: #fff;
}
.slide-number {
}
.number-container {
    color: #fff;
    margin-bottom: 45px;
}
.number-container:last-child{
    margin-bottom: 0;
}
.box {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 46px;
    line-height: 26px;
}
.number{}
.under-text{
    font-weight: 500;
    padding-bottom: 10px;
}
.number-text {
}
.slide-2 {
}
.slide-3 {
}
.controls {
}
.control {
}













/* -----footer----- */
.footer {
    background: linear-gradient( 90deg, #0C669C 0%,#3BBAC2 100%);
}
.footer__hero-inner {
    display: flex;
    justify-content: space-between;
    padding: 43px 0 23px;
}
.license{
    margin-top: 22px;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
}
.footer__nav {
}
.footer__nav-list {
}
.footer__nav-item {
    margin-bottom: 30px;
}
.footer__nav-item:last-child{
    margin-bottom: 0;
}
.footer__nav-link {
    font-size: 15px;
    line-height: 140%;
    color: #fff;
    transition: all .3s;
}
.footer__nav-link:hover {
    border-bottom: 1px dashed #fff;
}
.footer__btn {
    padding: 15px 20px;
    display: flex;
    align-items: center;
    gap: 8px;
    background: #39B6C0;
    border-radius: 3px;
    transition: all .3s;
}
.footer__btn:hover{
    background: #0C669C;
    border-bottom: none;
}
.address__list{
    margin-bottom: 25px;
    color: #fff;
}
.address__list:last-child{
    margin-bottom: 0;
}
.address-town{
    font-size: 16px;
    font-weight: 500;
    line-height: 130%;
    margin-bottom: 12px;
}
.address-street{
    margin-bottom: 20px;
}
.address-street:last-child{
    margin-bottom: 25px;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    color: #fff;
}
.footer__chart {
    font-size: 14px;
    font-weight: normal;
    line-height: 124%;
    margin-bottom: 2px;
}
.footer__contacts-number {
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 11px;
}
.footer__contacts-mail {
    font-size: 15px;
    font-weight: normal;
    line-height: 124%;
    margin-bottom: 16px;
}
.socials {
    display: flex;
    gap: 13px;
}
.social {
    width: 40px;
    height: 40px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(2, 142, 206, 0.32);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .3s;
}
.social:hover svg path,
.social:hover{
    fill: #fff;
    background: #0C669C;
}
.footer__bottom {
    background: rgba(27, 29, 50, 0.26);
}
.footer__bottom-inner {
    padding: 13px 0 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.info {
    display: flex;
    align-items: center;
    gap: 30px;
    color: #fff;
    font-weight: normal;
}
.copyright {
    font-size: 14px;
}
.polite {
    font-size: 13px;
    text-decoration: underline;
}

@media (max-width: 2000px) {
    /* ---header--- */
    .submenu__list {
        left: 13%;
    } 
}
@media (max-width: 1200px) {
    
}
@media (max-width: 1000px) {
    /* ---header--- */
    .header__record-btn,
    .header__chart  {
        display: none;
    }

    /* ---footer--- */
    .footer__hero-inner{
        flex-wrap: wrap;
        justify-content: space-evenly;
        gap: 40px 30px;
    }
}
@media (max-width: 900px) {
    /* ---header--- */
    .header__bottom{
        background: #F1F3F7;
        padding: 7px 0;
    }
    .nav{
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #0C669C;
        padding: 5vh 15px 30px;
        font-size: 24px;

        transform: translateY(0%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
    }
    .nav__list{
        flex-direction: column;
        align-items: start;
    }
    .body--opened-menu .nav{
        transform: translateY(20%);
        opacity: 1;
        visibility: visible;
    }
    .burger-icon{
        display: flex;
    }

    
}
@media (max-width: 1200px) {
    
}
@media (max-width: 600px) {
    /* ---header--- */
    .header__top,
    .header__contacts-social{
        display: none;
    }
    .body--opened-menu .nav{
        transform: translateY(15%);
    }

    /* ---footer--- */
    .footer__hero-inner{
        flex-direction: column;
        gap: 0;
    }
    .footer__col{
        max-width: 201px;
    }
    .license{
        margin-bottom: 16px;
    }
    .footer__nav-item,
    .footer__nav-item:last-child {
        margin-bottom: 25px;
    }
    .footer__bottom-inner {
        flex-direction: column;
        align-items: start;
        gap: 18px;
    }
    .info {
        flex-direction: column;
        align-items: start;
        gap: 5px;
    }
}
@media (max-width: 500px) {
    .logo{
        flex-shrink: 1;
    }
    .header__contacts-number{
        font-size: 16px;
        flex-shrink: 0;
    }
}